/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    width: 100;
    position:static;
    size: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.header 
{
    width: 100%;
    height: 100vh;
    background-color: #010b14; /* Dark blue-gray */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ecf0f1; /* Light gray */
}
nav 
{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0;
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top of the viewport */
    left: 0;
    right: 0;
    z-index: 1000; /* Ensures it stays on top of other elements */
}

body 
{
    padding-top: 60px; 
    overflow-x:hidden/* Adjust this value based on the height of your nav to prevent content from being hidden behind it */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li 
{
    margin: 0 40px;
}

nav ul li a 
{
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover 
{
    
    transform: scale(1.05); /* Zoom effect on hover */
    color: #e74c3c; /* Red */
}
/* Projects section */
.projects {
    background-color: rgb(13, 13, 28);
    padding: 40px 20px;
    text-align: center;
    color: #f39c12;
}

.projects h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.projects h3 {
    color: whitesmoke;
}

.project-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px whitesmoke;
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease;
}
.card:hover 
{
    transform: scale(1.05); /* Zoom effect on hover */
}
.card h3 
{
    font-size: 1.5em;
    margin-bottom: 10px;
    color:rgb(20, 161, 217);
    text-decoration:underline;
}

.card p {
    font-size: 1em;
    color:white;
}

.button-cv 
{
    display: inline-block;
    padding: 4px 25px;
    background-color: #3498db; /* Blue */
    color: #ecf0f1;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover
{
    transform: scale(1.05); /* Zoom effect on hover */
}
.button-cv:hover 
{
    
    transform: scale(1.05); /* Zoom effect on hover */
    background-color: #2980b9; /* Darker blue */
}
/* Styles for body section */
.body 
{
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
}
.body h1 
{
    font-size: 3rem;
    color: #ecf0f1;
    margin-bottom: 20px;
}
.demo1 
{
    color: #e67e22; /* Orange */
    margin-bottom: 20px;
}
.demo2 
{
    color: #bdc3c7; /* Light gray */
    line-height: 1.5;
}
.button-lrn, .button-hire 
{
    padding: 10px 15px;
    margin: 20px 10px 0 0;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}
.button-lrn 
{
    background-color: #1abc9c; /* Green */
    color: #ecf0f1;
}
.button-lrn:hover 
{
    background-color: #16a085; /* Darker green */
    color: #ecf0f1;
}
.button-hire 
{
    background-color: #e74c3c; /* Red */
    color: #ecf0f1;
}
.button-hire:hover 
{
    background-color: #c0392b; /* Darker red */
    color: #ecf0f1;
}
span 
{
    color: #f39c12; /* Yellow */
}
/* Styles for image section */
.image 
{
    position: absolute;
    up:30px;
    left:1000px;
    width: 70%;
    height: auto;
}
.image img 
{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 2px solid #ccc; /* Gray border */
    border-radius: 3px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 26px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] 
  {
    background-color: #f39c12;;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover 
  {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  
  .container1
  {
    border-radius: 5px;
    background-color:rgb(13, 13, 28);
    padding: 20px;
    color:whitesmoke;
  }
  .container1 h5
  {
    padding-top: 70px;
    bottom:400px;
    text-align: center;
    color:#f39c12;
    margin-top: 20px;
    font-size:40px;
